parameters:
  level: 3
  paths:
    - behaviors
    - commands
    - components
    - controllers
    - exceptions
    - models
    - modules
    - rbac
    - resources
    - validators
    - tests
  excludePaths:
    analyse:
        - tests/_data
        - tests/_support
    analyseAndScan:
        - tests/_output
        - models/NeptunAuth.php
  bootstrapFiles:
    - vendor/yiisoft/yii2/Yii.php
  stubFiles:
    - stubs/BaseYii.stub
    - stubs/ConsoleApplication.stub
    - stubs/WebApplication.stub
  ignoreErrors:
    - '#.*yii.*#'