<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /backend-core/

  #RewriteCond %{SERVER_PORT} =80
  #RewriteRule ^(.*) https://%{SERVER_NAME}/backend-core/$1 [L]

  # If a directory or a file exists, use it directly
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  # Otherwise forward it to index.php
  RewriteRule . web/index.php
</IfModule>
